<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %> <br>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
  <section>
  <br>
  
        Nursing Experience <br> </pt>
         </section>
         
         <pt>
         <br>
               <br>
           Awards <br> </pt>
            </section>
  </div>
</div>
